.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    &-block {
        background: #414141;
        margin: 16px;
        width: 100%;
        max-width: 950px;
        padding: 32px 16px;
        border-radius: 24px;
        max-height: 80vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
    form {
        width: 100%;
        max-width: 400px;
        margin: 32px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        label {
            display: block;
            p {
                margin-bottom: 5px;
                cursor: pointer;
            }
            &.error {
                color: red;
            }
        }
        .add {
            width: 100%;
            text-align: center;
            padding: 5px 10px;
            border: 3px dashed #fff;
            border-radius: 5px;
            font-weight: 700;
            font-size: 20px;
            margin: 16px 0;
            cursor: pointer;
        }
        .delite {
            cursor: pointer;
            color: red;
            font-size: 12px;
        }
    }
}