.home {
    @include sm-block() {}
    height: 100vh;
    overflow-y: auto;
    &-tasks {
        margin: 32px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        a {
            display: block;
            width: 100%;
            padding: 12px 24px;
            font-size: 20px;
            font-weight: 700;
            border: 1px solid #fff;
            border-radius: 5px;
            &:hover {
                background: #E2A300;
                color: #000;
                border-color: #E2A300;
            }
        }
        .delete {
            cursor: pointer;
            color: red;
            font-size: 12px;
        }
    }
}